<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Invoice</title>

</head>
<body>
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    table {
        width: 100%;
    }
    .invoice-total {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 4px;
    }
</style>
<div class="container" style="padding: 40px">

    <table>
        <tr>
            <td>
                <h2>Annex Apps Invoice {{ invoiceReference }}</h2>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <strong>Tax date</strong><br>
                {{ invoice.date|date("d M Y") }}
            </td>
            <td style="text-align: right">
                <strong>Invoice to:</strong><br>
                {{ tenant.name }}<br>
                {{ tenant.ownerName }}<br>
                {{ tenant.ownerEmail }}
            </td>
        </tr>
    </table>

    <table>
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for line in invoice.lines.data %}
            <tr>
                <td>
                    {{ app_name }} : {{ line.plan.name }} plan<br>
                    {{ line.period.start|date("d M Y") }} to {{ line.period.end|date("d M Y") }}<br>
                    {{ line.description }}
                </td>
                <td style="text-align:right">
                    {{ line.currency|upper }} {{ (line.amount/100)|number_format(2, '.', ',') }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td style="text-align: right" class="invoice-total">
                    Subtotal {{ invoice.currency|upper }} {{ (invoice.subtotal/100)|number_format(2, '.', ',') }}<br>
                    Tax {{ invoice.currency|upper }} {{ (invoice.tax/100)|number_format(2, '.', ',') }}<br>
                    Total {{ invoice.currency|upper }} {{ (invoice.total/100)|number_format(2, '.', ',') }}<br>

                <br><br>
                Amount paid: {{ (invoice.amount_paid/100)|number_format(2, '.', ',') }}
            </td>
        </tr>
        </tbody>
    </table>


    Annex Apps<br>
    Heol Las Fawr<br>
    Ferwig<br>
    SA43 1QA<br>
    United Kingdom

    <br><br>
    <div style="font-size:11px">
        Stripe ID: <a href="{{ invoice.invoice_pdf }}">{{ invoice.id }}</a>
    </div>



</div>
</body>
</html>