{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}Pay plans{% endblock %}

{% block left_nav %}
    {{ include('AnnexTenantBundle::snippets/app_nav.html.twig') }}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ include('AnnexTenantBundle::snippets/account_nav.html.twig') }}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12" style="overflow: hidden;">

            {% for plan in plans %}
                <div class="col-md-4">
                    <div class="plan-wrapper">
                        <h4>{{ plan.name }}</h4>
                        <p>
                            {{ plan.currency|upper }} {{ (plan.amount/100)|number_format(2, '.', ',') }}
                            <span style="font-size: 12px; color: #AAA">/month</span>
                        </p>
                        <div>
                            {{ plan.description|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <br>
    {{ include('AnnexTenantBundle:snippets:billing_faqs.html.twig') }}

{% endblock %}

{% block stylesheets %}

{% endblock %}