{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}Pay plans{% endblock %}

{% block left_nav %}
    <ul class="nav" id="side-menu" style="margin-top:40px;">
        <li>
            <a href="{{ path('plans') }}">View pay plans</a>
        </li>
        <li>
            <a href="{{ path('signup') }}">Create an account</a>
        </li>
    </ul>
    <br>
    <p style="padding-left: 15px;">
        FREE 14 day trial
    </p>
    <p style="padding-left: 15px;" class="small">
        You'll get a fully-featured trial account to use for 14 days<br><br>
        When your trial expires, you'll need to choose a pay plan and enter card details to begin monthly billing.
    </p>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            {% for plan in plans %}
                <div class="col-md-4">
                    <div class="plan-wrapper">
                        <h4>{{ plan.name }}</h4>
                        <p>
                            {{ plan.currency|upper }} {{ (plan.amount/100)|number_format(2, '.', ',') }}
                            <span style="font-size: 12px; color: #AAA">/month</span>
                        </p>
                        <div>
                            {{ plan.description|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}