{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}Account settings{% endblock %}

{% block content %}

    <div class="alert alert-help">
        We'll use this information to get in touch with you if we have any questions regarding your account.
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row">
        <div class="col-md-6">

            <h4>Brightpearl account details</h4>

            <div class="form-group">
                <label class="control-label">Account code</label>
                <input class="form-control" type="text" value="{{ tenant.brightpearlAccountCode }}" DISABLED />
            </div>

            {{ form_row(form.country) }}
            {{ form_row(form.timezone) }}

            <br>

        </div>

        <div class="col-md-6">
            <h4>Contact information</h4>

            {{ form_row(form.name) }}
            {{ form_row(form.ownerEmail) }}
            {{ form_row(form.telephone) }}
        </div>

    </div>


    <div class="page-controls">
        <button type="submit" class="btn btn-success">Save settings</button>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}

{% endblock %}
