{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}Start your free trial now{% endblock %}

{% block left_nav %}
    {{ include('AnnexTenantBundle::snippets/app_nav.html.twig') }}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ include('AnnexTenantBundle::snippets/account_nav.html.twig') }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if app.request.get('accountNotFound') %}
        <div class="alert alert-warning">
            Account "{{ app.request.get('accountNotFound') }}" has not yet been set up. Please register below.
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% if help is defined %}
                <span class="help">{{ help }}</span>
            {% endif %}

            {{ form_row(form.company) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.brightpearlAccount) }}
            {{ form_row(form.country) }}
            {{ form_row(form.timezone) }}
            {{ form_row(form.brightpearlDataCentre) }}
            <br>

            <div class="page-controls">
                <button type="submit" class="btn btn-success">Create my account</button>
            </div>

            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            <br>
            <div class="alert alert-warning">
                <strong>Note:</strong> <br>
                You will also need to install this app from within your Brightpearl account.
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
