{% extends 'admin/settings.html.twig' %}

{#Old UI with Assetic#}
{#{% extends 'AnnexTenantBundle::base.html.twig' %}#}

{#For old UI#}
{% block heading %}Users{% endblock %}

{#For New admin UI#}
{% set page_title = "Users" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <table id="tbl-users" class="table table-hover table-striped table-bordered">
                <thead>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>&nbsp;</th>
                </thead>
                {% for user in users %}
                    {% if user.id > 0 %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td style="text-align:right ">
                            {% if user.id == app.user.id %}
                                <a href="{{ path('fos_user_change_password') }}">Change password</a>
                                &nbsp;&nbsp;
                                <a href="{{ path('fos_user_profile_edit') }}">Update my details</a>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}{% endblock %}
