<ul class="nav" id="side-menu" style="margin-top:40px;">
    <li>
        <a href="{{ path('account_settings') }}">Account settings</a>
    </li>
    <li>
        <a href="{{ path('account_billing') }}">Billing</a>
    </li>
    <li>
        <a href="{{ path('account_users') }}">Users</a>
    </li>
</ul>

<br>
<div style="padding-left:15px;">
    {% if tenant is defined and tenant.trialExpiresAt and tenant.status == 'TRIAL' %}

        {% if "now"|date('Y-m-d') > tenant.trialExpiresAt|date("Y-m-d") %}
            <div class="alert alert-danger">
                Your trial expired on<br>
                <strong>{{ tenant.trialExpiresAt|date("d M Y") }}</strong>
            </div>
        {% else %}
            <div class="alert alert-warning">
                Your trial expires on<br>
                <strong>{{ tenant.trialExpiresAt|date("d M Y") }}</strong>
            </div>
        {% endif %}

    {% else %}

    {% endif %}
</div>