{# app/Resources/views/emails/welcome.html.twig #}
{% extends 'AnnexTenantBundle::emails/template.html.twig' %}

{% block title %}Welcome to Annex Apps{% endblock %}

{% block heading %}Welcome to Annex Apps!{% endblock %}

{% block content %}

    We've created an account for you;
    <br>
    <br>
    <table cellpadding="10" cellspacing="0">
        <tr>
            <td>Login URL:</td>
            <td><a href="http://{{ tenant.stub }}.{{ app_tld }}/admin">http://{{ tenant.stub }}.{{ app_tld }}/admin</a></td>
        </tr>
        <tr>
            <td>Email address:</td>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ password }}</td>
        </tr>
    </table>

{% endblock %}