{# app/Resources/views/emails/welcome.html.twig #}
{% extends 'AnnexTenantBundle::emails/template.html.twig' %}

{% block title %}Welcome to Annex Apps{% endblock %}

{% block heading %}Welcome to Annex Apps!{% endblock %}

{% block content %}

    We've created an account for you on our <strong>{{ app_name|capitalize }}</strong> app;
    <br>
    <br>
    <div>
        Log in at:<br>
        <a href="https://www.{{ app_tld }}/login?accountCode={{ tenant.stub }}">https://www.{{ app_tld }}/login?accountCode={{ tenant.stub }}</a>
    </div>

    <br>

    <div>
        Email address:<br>
        {{ email }}
    </div>

    <br>

    <div>
        Password:<br>
        {{ password }}
    </div>

{% endblock %}